<%layout('layouts/boilerplate')-%>
<div class='col-md-8 offset-2'>
    <form action='/journals/<%=editEntry.id%>?_method=PATCH' method="post" novalidate class='form-validate'>
        <div>
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" placeholer='Title' name='title' value='<%=editEntry.title%>' required>
        <div class="invalid-feedback">
            Please include a title for your entry.
        </div>
    </div>
        <div>
        <label class="form-label" for="entry">Journal Entry</label>
        <textarea class="form-control" type="text" id="entry" placeholer='Journal Entry' name='entry' value='<%=editEntry.entry%>' required></textarea>
        <div class="invalid-feedback">
            Uh oh! You left your journal entry empty.
        </div>
    </div>
        <button class="btn btn-info mt-3">Update</button>
    
    </form>
</div>
    <a href="/journals/<%=editEntry.id%>">Cancel</a>
    <form action="/journals/<%=editEntry.id%>?_method=DELETE" method="post">
    <button>Delete</button>
    </form>
